body {
  background-color: powderblue;
}
table.dataframe, .dataframe th, .dataframe td {
  background: cadetblue;
  border: 1px solid blanchedalmond;
  border-bottom: 1px solid #E5FFCC;
  text-align:center;
  padding: 12px;
  margin-bottom: 30px;
  font-size: 1.0em;
  
}


a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}