<!doctype html>
<title>Hello initial page</title>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <div class=header>
    <h1 style="color: rgb(216, 23, 23); text-align: center; font-family: Cambria; font-size: 300%;">Welcome to List of animals from mongodb</h1>
  </div>
</head>

<style>
  /* unvisited link */
  a:link {
    color: rgb(255, 0, 76);
  }
  
  /* visited link */
  a:visited {
    color: rgb(43, 161, 43);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(100, 24, 172);
  }
  
  /* selected link */
  a:active {
    color: rgb(166, 255, 0);
  }
  </style>

<div class=body style="color: coral;">
  <h2 style="color:DodgerBlue; text-align: center;font-family: Cambria; font-size: 200%;">Monitoting your Flask Application at ease</h2>
  <h3 style="color:slateblue; text-align: center; font-family: Cambria; font-size: 250%;">
    Hello welcome to Bosch, To explore more on Prometheus Instrumentation for Flask refer below
    <h4 class=tagline, style="color: blue; font-family: Cambria; font-size: large;">Flask Application instrumentation over prometheus
    <ul class=nav>
        <li><a href=/metrics>Flask Metrics</a>
        <li><a href=/employees_from_tuplelist>Employee sample data Dataframe1</a>
        <li><a href=/insert_data_impala>Data inserted into impala server success!!</a> 
        <li><a href=/employees_from_impala_database>Employess data from Impala Database</a>
        <li><a href=/employees_from_tuplelist>Data from tuplelist</a>
          
      </ul>

</div>
